
.profile{
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}





@media (min-width : 600px) {
  .profile{
    flex-direction: row;
  }
}